#graph-mem {
    width: 80%;
    height: 40%
}

#graph-cpu {
    width: 80%;
    height: 40%
}

.dygraph-legend {
  background-color: rgba(200, 200, 255, 0.75) !important;
  padding: 4px;
  border: 1px solid #000;
  box-shadow: 4px 4px 4px #888;
  width: auto !important;
  right: -250 !important;
  left: auto !important;
  margin: 5px;
  width: 200px !important;
}
.dygraph-legend > span {
	display: block;
}
